<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <title>Tourist Guide</title>

</head>
<body>
<div class = "main-container">
    <header>
        <h1 id="main-header"> Tourist Attraction in Denmark </h1>
    </header>
    <h3 class="highlight"> 🇩🇰 Welcome to Denmark 🇩🇰</h3>
</div>


<div class="grid-container">
    <div class="box">
        <h3> Tivoli</h3>
        <img src="/images/Tivoli.webp"
             alt="pagePhoto">
        <p class = "highlight">
            Tivoli Gardens is a historic amusement park and pleasure garden in Copenhagen, Denmark.
            Opened in 1843, it is the second-oldest operating amusement park in the world and one of the most visited attractions in the country,
            known for its beautiful gardens, thrilling rides, and open-air concerts.
        </p>
    </div>

        <div class="box">
            <h3> Little Mermaid </h3>
            <img src="/images/Littlemermaid.png"
                 alt="pagePhoto">
            <p class= "highlight">
                The Little Mermaid (Danish: Den lille Havfrue) is a bronze statue by Edvard Eriksen,
                depicting a mermaid becoming human. The sculpture is displayed on a rock by the waterside
                at the Langelinie promenade in Copenhagen, Denmark.[a] It is 1.25 metres (4.1 ft) tall[2]
                and weighs 175 kilograms (385 lb).
            </p>
        </div>

    <div class="box">
        <h3> Rosenborg Castle </h3>
        <img src="/images/Rosenborg-Castile.webp"
             alt="pagePhoto">
        <p class = "highlight">
            Rosenborg Castle is a Renaissance-style castle located in the heart of Copenhagen, Denmark.
            Built in the early 1600s by King Christian IV as a summer residence, it is one of the country's
            most cherished royal buildings, surrounded by the lush King's Garden.
        </p>

    </div>

    <div class="box">
        <h3> Frederiksborg Castle </h3>
        <img src="/images/Frederiksborg-Castle.jpg"
             alt="pagePhoto">
        <p class = "highlight">
            Frederiksborg Castle is a grand Baroque-style palace built in the early 17th century by King Christian IV, located on three islets in the town of Hillerød, Denmark.
            Today it houses the Museum of National History, showcasing centuries of Danish art and history within its ornate halls and surrounding gardens.
        </p>
    </div>

    <div class="box">
        <h3> Nyhavn </h3>
        <img src="/images/Copenhagen-Nyhavn.jpg"
             alt="pagePhoto">
        <p class = "highlight">
            Nyhavn is a picturesque 17th-century waterfront, canal, and entertainment district in Copenhagen, Denmark, lined with colorful gabled townhouses, bars, and restaurants.
            Once a bustling commercial port, it is now one of the city's most iconic and photographed spots, popular for its lively atmosphere and historic wooden ships.
        </p>
    </div>

</div>

<footer>
    <p> &copy; 2026 Tourist Attraction in Denmark. All rights reserved.</p>
</footer>
</body>
</html>